.row #photography {
    font-family: 'Brush Script MT', sans-serif;
    font-size: 2.4rem;
}
.row .text-muted {
    font-family: 'Helvetica', sans-serif;
}

body {
    background-color: rgba(250, 250, 250, 0.9);
}

#test {
    font-variant: small-caps;
}
.container #cardcontainer {
    background-color: rgba(201, 201, 201, 0.6);
    background-image: linear-gradient(rgba(201, 201, 201, 0.6), white);
}
section{
    background-color: rgba(201, 201, 201, 0.6);
    background-image: linear-gradient(rgba(201, 201, 201, 0.6), white);
    position: relative;
}
#photo_cards {
    height: 750px;
    width: 450px;
    margin-left: -25px;
    position: relative;
}
#photo_cards2 {
    margin-top: -90px;
    height: 450px;
    width: 500px;
    margin: -12px;
    margin-top: -90px;
    position: relative;
}
#reviews {
    width: 70%;
    text-align: center;
}
#reviews_body {
    background-color: rgba(201, 201, 201, 0.4);
}
.star-reviews {
    list-style: none;
    margin-left: -30px;
}
.star-reviews li {
    display: inline;
}
form {
    padding-top: 30px;
}
.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(201, 201, 201, 0.4);
    text-align: center;
    padding-top: 20px;
    margin-top: 150px;
    position: fixed;
}